# Byte-compiled / optimized / DLL files
**/__pycache__
.pytest_cache

*.py[cod]

# Distribution / packaging
build/
dist/
*.egg-info/

# Unit test / coverage reports
.coverage
htmlcov/

# Virtual environments
venv/
env/

.env